<div{{ attributes.addClass(classes) }} style="width: 100%;">
  {# 隐藏原始字段渲染 #}
  <div style="display: none;">
    {{ content }}
  </div>
  {% if embed_id is defined %}
  <div 
    id="base-theme-text-with-embedding-{{ embed_id }}">
  </div>
  {% else %}
    {# Fallback: 如果没有数据，显示原始内容 #}
    {{ content }}
  {% endif %}
</div>

{% if embed_id is defined %}
  {{ attach_library('base/themeHooks') }}

  <script>
    window.addEventListener('textWithEmbed:load', (data) => {
      const textWithEmbedId = '{{ embed_id }}'
      const textWithEmbedNode = document.getElementById(`base-theme-text-with-embedding-${textWithEmbedId}`)
      const textWithEmbed = data?.detail?.[textWithEmbedId]
      console.log('textWithEmbed', textWithEmbed)
      vueMountComponent('textWithEmbed', textWithEmbedNode, textWithEmbed)
    })
  </script>
{% endif %}
