<div{{ attributes.addClass(classes) }} style="width: 100%;">
  {# 隐藏原始字段渲染 #}
  <div class="paragraph-theme-swiper__content-{{ swiper_id }}" style="display: none;">
    {{ content }}
  </div>
  {% if swiper_id is defined %}
    <div id="paragraph-theme-swiper-{{ swiper_id }}"></div>
  {% else %}
    {# Fallback: 如果没有数据，显示原始内容 #}
    {{ content }}
  {% endif %}
</div>

{% if swiper_id is defined %}
  <script>
    window.addEventListener('swiper:load', () => {
      const swiperId = '{{ swiper_id }}'
      const swiperNode = document.getElementById(`paragraph-theme-swiper-${swiperId}`)
      const swiperContent = document.querySelector(`.paragraph-theme-swiper__content-${swiperId}`)

      const swiperItems = []
      for(let i = 0; i < swiperContent?.children?.length; i++) {
        swiperItems.push(swiperContent.children[i].outerHTML)
      }

      vueMountComponent('swiper', swiperNode, {
        items: swiperItems
      })
    })
  </script>
{% endif %}
